
  <div class="container-fluid" ng-controller="siteEditCtrl">
    <h1>Movies Maintenance</h1>
      <!--List view-->
      <div ng-show="view=='list'">
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-primary btn-lg"
                    ng-click="startAdd()">
              Add movie
            </button>
          </div>
        </div>
        <h2>List of Movies:</h2>
        <div class="row" ng-repeat="movie in movies"
             ng-class="{oddRow: $index % 2 == 0}">
          <div class="col-sm-8">
            <h4>{{$index + 1}}: {{movie.title}} | Starring: {{movie.actor}} | Duration: {{movie.time}} mins</h4>
          </div>
          <div class="col-sm-4" style="margin-top: 5px;">
            <div class="pull-right">
              <button class="btn btn-warning btn-sm"
                      ng-click="startEdit($index)">
                Edit
              </button>
              <button class="btn btn-danger btn-sm"
                      ng-click="startRemove($index)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Add view-->
      <div ng-show="view=='add'">
        <h3>Specify the Movie details:</h3>
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control input-lg" 
                   type="text" 
                   placeholder="Title" 
                   ng-model="MovieTitle"/>
          </div>
        </div>
          
          <div class="row" id="topPadding">
          <div class="col-sm-6">
            <input class="form-control input-lg" 
                   type="text" 
                   placeholder="Actor" 
                   ng-model="MovieActor"/>
          </div>
        </div>
          
          <div class="row" id="topPadding">
          <div class="col-sm-6">
            <input class="form-control input-lg" 
                   type="number" min="1"
                   placeholder="Duration" 
                   ng-model="MovieDuration"/>
          </div>
        </div>
          <!--Buttons:-->
        <div class="row" style="margin-top: 12px;">
          <div class="col-sm-6">
            <button class="btn btn-success btn"                            
                    ng-disabled="MovieTitle=='' || MovieActor=='' || MovieDuration==''"
                    ng-click="add()">
              Add
            </button>
            <button class="btn btn-warning btn"
                    ng-click="cancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>

      <!--Edit view-->
    <div ng-show="view=='edit'">
      <h3>Edit {{getSelected()}}'s Title, main actor or duration:</h3>
      <div class="row">
          <div class="col-sm-6">
            <input class="form-control input-lg" 
                   type="text" 
                   placeholder="Title" 
                   ng-model="MovieTitle"/>
          </div>
        </div>
          
          <div class="row" id="topPadding">
          <div class="col-sm-6">
            <input class="form-control input-lg" 
                   type="text" 
                   placeholder="Actor" 
                   ng-model="MovieActor"/>
          </div>
        </div>
          
          <div class="row" id="topPadding">
          <div class="col-sm-6">
            <input class="form-control input-lg" 
                   type="number" min="1"
                   placeholder="Duration" 
                   ng-model="MovieDuration"/>
          </div>
        </div>
        <!--Buttons:-->
      <div class="row" style="margin-top: 12px;">
        <div class="col-sm-6">
          <button class="btn btn-success btn"
                  ng-disabled="MovieTitle=='' || MovieActor=='' || MovieDuration==''"
                  ng-click="save()">
            Save
          </button>
          <button class="btn btn-warning btn"
                  ng-click="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>

      <!--Delete view-->
    <div ng-show="view=='delete'">
      <h3>Confirm delete</h3>
      <div class="row">
        <div class="col-sm-8">
          <p>
            Are you sure you want to delete the movie:
            '{{getSelected()}}'?
          </p>
        </div>
      </div>
      <div class="row" style="margin-top: 12px;">
        <div class="col-sm-6">
          <button class="btn btn-success btn"
                  ng-click="cancel()">
            No
          </button>
          <button class="btn btn-danger btn"
                  ng-click="remove()">
            Yes
          </button>
        </div>
      </div>
    </div>

  </div>

