<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="MortenDesktop"  connectionString=""  />
    <add name="MortenLaptop"  connectionString=""  />
    <add name="SimonDesktop"  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Cymon343\Google Drev\Project SKI Kitchen\99 TheDatabase\Database\DB_SKI.mdf;Integrated Security=True"  />
    <add name="SimonLaptop"  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Simon\Desktop\DB_SKI.mdf;Integrated Security=True"  />
  </connectionStrings>
</configuration>