<h1>Liste over Ordrer:</h1>

<table>
    <!--TODO ADD HEADEARS TO TABLE HERE-->
    <tr ng-repeat="o in orders | orderBy: 'o.DeliveryDate'">
        <td>{{ o.ID }}<br/>{{ o.Customer.Name }}<br/>{{o.DeliveryDate}} </td>        
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 0)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 0)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 1)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 1)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 2)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 2)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 3)" />
        </td>
        <td>
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 3)" />
        </td>
        <td>          
             <a ng-href="#/orderCard" ng-click="displayOrderCard(o.ID)">Se Ordre</a>
        </td>
        <td>
            <a ng-href="#/appendixLinks" ng-click="displayAppendixLinkList(o.ID)">Se Tillæg</a>
        </td>






</tr>
</table>

