<h1>Ordreoversigt</h1>

<table border="1" class="table-striped">    
    <tr>
        <th width="240"></th>
        <th colspan="2"><center>4</center></th>
        <th colspan="2"><center>5</center></th>
        <th colspan="2"><center>6</center></th>
        <th colspan="2"><center>7</center></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th width="240"><center>Ordre</center></th>
        <th width="80"><center>Begyndt</center></th>
        <th width="80"><center>Færdig</center></th>
        <th width="80"><center>Begyndt</center></th>
        <th width="80"><center>Færdig</center></th>
        <th width="80"><center>Begyndt</center></th>
        <th width="80"><center>Færdig</center></th>
        <th width="80"><center>Begyndt</center></th>
        <th width="80"><center>Færdig</center></th>        
        <th width="80"></th>
        <th width="80"></th>
    </tr>

    <tr ng-repeat="o in orderFactory.getOrders() | orderBy: 'o.DeliveryDate'">

        <td>{{ o.ID }}<br/>{{ o.Customer.Name }}<br/><p ng-bind="formatDate(o.DeliveryDate) | date:'MM/dd/yyyy'"></p></td>        
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 0)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 0)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 1)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 1)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 2)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 2)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderBegun(o.ID, 3)" />
        </td>
        <td align="center">
            <input type="checkbox" disabled="disabled" ng-checked="isOrderDone(o.ID, 3)" />
        </td>
        <td>          
             <center><a ng-href="#/orderCard" ng-click="displayOrderCard(o.ID)"> Se Ordre </a></center>
        </td>
        <td>
            <center><a ng-href="#/appendixLinks" ng-click="displayAppendixLinkList(o.ID)"> Se Tillæg </a></center>
        </td>
</tr>
</table>

