<h1>Ordrebekræftelse</h1>
<h4> OrdreNummer: {{orderFactory.getCurrentOrder().ID}}</h4>
<p>
    <a ng-href="#/appendixLinks" ng-click="displayAppendixLinkList(orderFactory.getCurrentOrder().ID)">Se Tillæg</a> 
</p>
<p>
    <a ng-href="#/orderList" ng-click="refreshPage()">Se Ordreoversigt</a>
</p>
<ul>    
    <li ng-repeat="prodData in orderFactory.getCurrentOrder().ProdData">
        <b>Sønderborg Køkkenet</b>
        <ul>
            <li ng-repeat="data in prodData.Data">{{data}}</li>
        </ul>
    </li>
</ul>

<table border="1" ng-show="view=='list'" class="table-striped">
    <tr>
        <th colspan="6"></th>              
        <th colspan="3"><center>4</center></th>
        <th colspan="3"><center>5</center></th>
        <th colspan="3"><center>6</center></th>
        <th colspan="3"><center>7</center></th>        
    </tr>
    <tr>
        <th width="60"><center>Pos</center></th>
        <th width="320"><center>Kode/Tekst</center></th>
        <th width="60"><center>Hængsl.</center></th>
        <th width="60"><center>Fin.</center></th>
        <th width="60"><center>Antal</center></th>
        <th width="60"><center>Enhed</center></th>
        <th width="60"><center>Begyndt</center></th>
        <th width="60"><center>Færdig</center></th>
        <th width="60"><center>Note</center></th>
        <th width="60"><center>Begyndt</center></th>
        <th width="60"><center>Færdig</center></th>
        <th width="60"><center>Note</center></th>
        <th width="60"><center>Begyndt</center></th>
        <th width="60"><center>Færdig</center></th>
        <th width="60"><center>Note</center></th>
        <th width="60"><center>Begyndt</center></th>
        <th width="60"><center>Færdig</center></th>
        <th width="60"><center>Note</center></th>    
    </tr>
    <tbody class="tbody-inverse" ng-repeat="heading in orderFactory.getCurrentOrder().Headings">
        <!--Skrives sammen med det nedenunder-->
        <tr>
            <th colspan="18">{{heading}}</></th>
        </tr>
    
        <tr ng-repeat="element in orderFactory.getElementsByHeading(heading)"> 
            <td><center> {{element.Position}} </center></td>
            <td> {{element.Text}} </td>
            <td><center> {{element.Hinge}}</center></td>
            <td><center> {{element.Fin}}</center></td>
            <td><center> {{element.Amount}}</center></td>
            <td><center> {{element.Unit}}</center></td>

            <td align="center"><input type="checkbox" ng-click="flipBegun(element.ProgressInfo[0])" ng-checked="element.ProgressInfo[0].Begun" /></td>
            <td align="center"><input type="checkbox" ng-click="flipDone(element.ProgressInfo[0])" ng-checked="element.ProgressInfo[0].Done" /></td>
            <td align="center"><button class="btn btn-info btn" ng-click="startEdit(element.ProgressInfo[0])">Note</button></td>
            <td align="center"><input type="checkbox" ng-click="flipBegun(element.ProgressInfo[1])" ng-checked="element.ProgressInfo[1].Begun" /></td>
            <td align="center"><input type="checkbox" ng-click="flipDone(element.ProgressInfo[1])" ng-checked="element.ProgressInfo[1].Done" /></td>
            <td align="center"><button class="btn btn-info btn" ng-click="startEdit(element.ProgressInfo[1])">Note</button></td>
            <td align="center"><input type="checkbox" ng-click="flipBegun(element.ProgressInfo[2])" ng-checked="element.ProgressInfo[2].Begun" /></td>
            <td align="center"><input type="checkbox" ng-click="flipDone(element.ProgressInfo[2])" ng-checked="element.ProgressInfo[2].Done" /></td>
            <td align="center"><button class="btn btn-info btn" ng-click="startEdit(element.ProgressInfo[2])">Note</button></td>
            <td align="center"><input type="checkbox" ng-click="flipBegun(element.ProgressInfo[3])" ng-checked="element.ProgressInfo[3].Begun" /></td>
            <td align="center"><input type="checkbox" ng-click="flipDone(element.ProgressInfo[3])" ng-checked="element.ProgressInfo[3].Done" /></td>
            <td align="center"><button class="btn btn-info btn" ng-click="startEdit(element.ProgressInfo[3])">Note</button></td>
        </tr>
    </tbody>
</table>

<div ng-show="view=='edit'">
    <h3>Skriv Note:</h3>
    <div class="row">
        <div class="col-sm-6">
            <textarea ng-model="currentProgressObject.Comment" class="form-control input-lg" placeholder="Skriv Note Her" rows="4" cols="10"/>
        </div>
    </div>
    <div class="row" style="margin-top: 12px;">
        <div class="col-sm-6">
            <button class="btn btn-success btn" ng-click="saveComment()">Gem</button>
            <button class="btn btn-warning btn" ng-click="cancelEdit()">Anuller</button>
        </div>
    </div>
</div>